body {
  margin: .5em .5em 3em .5em;
}

[data-spec] section {
  margin: 1em;
}

.ok {
  color: #4ed852;
}
.warn {
  color: #d8984e;
}
.error {
  color: #d9534f;
}

.backgroundOk {
  background-color: #4ed852;
}
.backgroundWarn {
  background-color: #d8984e;
}
.backgroundError {
  background-color: #d9534f;
}

h3 {
  font-weight: normal;
}

h3 a {
  color: inherit;
  text-decoration: none;
}

h3 a:hover span {
  text-decoration: underline;
}

.pure-g {
  letter-spacing: normal !important;
}

dt {
  margin-top: 1em;
  font-weight: bold;
}

#summary {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2em;
  width: 100%;
  padding-top: .5em;
  background-color: #ffffff;
  flex-flow: row;
}

#summary div {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  cursor: default;
}
