on:
  schedule:
    - cron: '30 */6 * * *'
  workflow_dispatch:
name: Update ED report
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Setup node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18

    # Temp (2023-01-07): Force version of node-fetch, pending resolution of:
    # https://github.com/node-fetch/node-fetch/issues/1701
    - name: Install reffy
      run: |
        npm install node-fetch@2.6.7
        npm install reffy

    # Use a separate checkout to reduce the chances
    # that, by the time the crawl has ended, the underlying webref checkout
    # that gets updated be no longer in sync with origin
    - name: Checkout webref-fallback
      uses: actions/checkout@v2
      with:
        path: webref-fallback

    - name: Run Reffy's crawler
      run: |
        mkdir report
        node_modules/.bin/reffy --post csscomplete --post annotatelinks --post patchdfns --output report --fallback webref-fallback/ed/index.json

    - name: Checkout webref
      uses: actions/checkout@v2
      with:
        path: webref

    - name: Copy report
      run: rsync -av report/ webref/ed/

    - name: Drop extract files from specs that are no longer crawled
      run: node tools/clean-dropped-specs-files.js ed
      working-directory: webref

    - name: Bump minor version of packages if needed
      run: node tools/bump-packages-minor.js
      working-directory: webref

    - name: Push updates to git
      run: |
        git config user.name "reffy-bot"
        git config user.email "<>"
        git remote set-url --push origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
        git add -A
        REFFY_SHA=$(../node_modules/.bin/reffy --version)
        git commit -m "Update of ED report from new reffy run" -m "Using reffy commit $REFFY_SHA."
        git push origin HEAD:main
      working-directory: webref

    - name: Notify webref-analysis that it should update itself
      run: |
        curl -X POST \
          -H "Authorization: Bearer ${{secrets.WEBREF_ANALYSIS_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/w3c/webref-analysis/actions/workflows/analyze.yml/dispatches \
          -d '{"ref": "main"}'
